@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
img{
    width: 1100px;
    height: 400px;
    border-radius: 2px;
}
.container{
    position: relative;
    width: 1150px;
    margin: 120px auto;
}
.container1{
    position: relative;
}
.zomato{
    position: absolute;
    top: 90px;
    left: 450px;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.paracontainer{
    position: absolute;
    top: 180px;
    left:300px;
    color: aliceblue;
    font-size: 20px;
}
.search{
    position: absolute;
    top: 250px;
    left: 210px;
    background-color: aliceblue;
    border-radius: 4px;
    padding: 2px;
   
}
#Lucknow{
    width: 180px;
    padding-left: 20px;
    height: 37px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    border-right: 2px solid lightgray;
    font-size: 16px;
  


}
.stext{
    width: 480px;
    height: 34px;
    padding-left: 20px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
   
}

.material-symbols-outlined{
 font-size: 8px;
 margin-left: 8px;
 margin-top: 8px;
 text-align: center;
}